body{
    margin:0;
    background:#f4f6f9;
}

.sidebar{
    min-height:100vh;
    background:#212529;
}

.sidebar a{
    color:white;
    text-decoration:none;
    display:block;
    padding:12px 20px;
}

.sidebar a:hover{
    background:#0d6efd;
}

.content{
    padding:20px;
}
.sidebar a.active {
    background: #2563eb;
    color: white !important;
    border-left: 4px solid #fff;
    font-weight: bold;
}

.sidebar a.active i {
    color: white;
}